.contacts__title {
  margin: 0;
  margin-bottom: 25px;
  font-family: 'Roboto Condensed';
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $second-accent;
}

.contacts__item {
  margin: 0;
  font-family: 'PT Mono';
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: $footer-text;
}
