.feedback {
	padding-top: 92px;
	padding-bottom: 113px;
	background-color: $first-accent;
	background-image: url(../img/background-feedback.png);
	background-repeat: no-repeat;
	background-position: right 1097px top -67px;

	@media (max-width: $tablet-width) {
		padding-top: 80px;
		padding-bottom: 103px;
		background-image: none;
	}

	@media (max-width: $mobile-width) {
		padding-top: 30px;
		padding-bottom: 42px;
	}
}

