.header-contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  padding: 0;

  @media (max-width: $tablet-width) {
    margin-right: -2px;
    align-items: flex-start;
  }
}

.header-contacts__item {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 8px;

  @media (max-width: $tablet-width) {
    padding-top: 2px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 0;
    margin-top: 6px;
  }

  &:not(:last-child) {
    margin-right: 88px;

    @media (max-width: $tablet-width) {
      margin-right: 33px;
    }

    @media (max-width: $mobile-width) {
      margin-right: 23px;
    }
  }

  .header-contacts__link {
    display: flex;
    align-items: center;
    font-family: 'PT Mono', "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: $white;

    &:hover,
    &:focus {
      color: $first-accent;
    }

    &:active {
      color: lighten($first-accent, 20%);
    }
  }
}

.header-contacts__link:hover .header-contacts__icon,
.header-contacts__link:focus .header-contacts__icon {
  @media (max-width: $tablet-width) {
    fill: $white;
  }
}

.header-contacts__link:active .header-contacts__icon {
  fill: lighten($first-accent, 30%);
}

.header-contacts__icon {
  fill: $first-accent;

  &--mail {
    margin-right: 20px;

    @media (max-width: $tablet-width) {
      width: 25px;
      height: 19px;
      margin-right: 0;
      padding-top: 2px;
    }
  }

  &--phone {
    margin-right: 16px;

    @media (max-width: $tablet-width) {
      width: 24px;
      height: 24px;
      margin-right: 0;
      padding-bottom: 2px;
    }
  }
}

.header-contacts__text {
  @media (max-width: $tablet-width) {
    display: none;
  }
}
