.main-nav__title {
  margin: 0;
  margin-bottom: 25px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $second-accent;

  @media (max-width: $mobile-width) {
    margin-bottom: 27px;
  }

  &:focus,
  &:hover {
    color: $first-accent;
  }

  &:active {
    color: lighten($first-accent, 20%);
  }
}

.main-nav__list {
  display: grid;
  width: 565px;
  margin: 0;
  padding: 0;
  list-style: none;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  grid-template-rows: repeat(4, max-content);

  @media (max-width: $tablet-width) {
    display: block;
    width: auto;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 27px;
  }
}

.main-nav__item {
  font-size: 15px;
  line-height: 25px;
  max-width: 243px;
}

.main-nav__link {
  font-family: "PT Mono";
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: $footer-text;

  &:focus,
  &:hover {
    color: $first-accent;
  }

  &:active {
    color: lighten($first-accent, 20%);
  }
}
