body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%;
  margin: 0;
  background-color: black;
  font-family: 'PT Mono', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
  color: red;
}

div {
  width: 300px;
  background-image: url(../../img/electronic-main-block-desktop.png);
}
