.page-footer {
  background-color: $footer-background;
}

.page-footer__top {
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
  padding-bottom: 55px;

  @media (max-width: $tablet-width) {
    flex-wrap: wrap;
  }
}

.page-footer__social {
  @media (max-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 26px;
    border-bottom: 1px solid $border;
  }

  @media (max-width: $mobile-width) {
flex-direction: column;
align-items: center;
}
}

.page-footer__logo {
  display: block;
  width: 215px;
  height: 52px;
  margin-bottom: 50px;

  @media (max-width: $tablet-width) {
margin-bottom: 0;
  }

  @media (max-width: $mobile-width) {
margin-bottom: 26px;
  }
}

.page-footer__years {
  display: none;
  font-family: 'PT Mono';
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $footer-text;

  @media (max-width: $tablet-width) {
    display: block;
  }

  @media (max-width: $mobile-width) {
margin-bottom: 31px;
  }
}

.page-footer__nav {
  margin-left: 65px;

  @media (max-width: $tablet-width) {
margin-left: 0;
padding-top: 38px;
}
}

.page-footer__contacts {
  @media (max-width: $tablet-width) {
    padding-top: 38px;
    }
}

.page-footer__bottom {
  padding-top: 14px;
  padding-bottom: 14px;
  border-top: 1px solid $border;
}
