.page-main {
	background-image: url(../img/background-main.png);
	background-repeat: no-repeat;
  background-position: 0 -29px;
}

.page-main__featurs {
	padding-top: 112px;

  @media (max-width: $tablet-width) {
    padding-top: 55px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 37px;
  }
}
