.social-list {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.social-list__item {
	&:not(:last-child) {
		margin-right: 17px;
		margin-left: -1px;
	}
}

.social-list__icon {
	fill: $social-icon-fill;

	&:focus,
	&:hover {
		fill: $first-accent;
	}

	&:active {
		fill: lighten($first-accent, 20%);
	}
}
