.social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  max-width: 216px;
  margin: 0;
  padding: 0;
}

.social-list__item {
  &:not(:last-child) {
    margin-right: 17px;
    margin-left: -1px;
  }
}

.social-list__icon {
  fill: $social-icon-fill;

  &:focus,
  &:hover {
    fill: $first-accent;
  }

  &:active {
    fill: lighten($first-accent, 20%);
  }
}
