$white: #FFFFFF;
$black: #000000;
$first-accent: #00B2FF;
$second-accent: #1B2D37;
$scroll-color: #8D9498;
$middle-text: #666666;
$features-border: #EBEBEB;
$input-background: rgba($white, 0.1);
$form-checkbox-text: rgba($white, 0.8);
$footer-text: rgba(#1B2D37, 0.5);
$social-icon-fill: #CDCDCD;
$border: rgba(#626962, 0.2);
$footer-background: #FAFAFA;
$tablet-width: 1023px;
$mobile-width: 767px;
